* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: "Lato-Black";
    src: url("fonts/Lato-Black.woff2") format("woff2"),
    url("fonts/Lato-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Lato-Medium";
    src: url('fonts/Lato-Medium.woff2') format("woff2"),
    url("fonts/Lato-Medium.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Myriad Pro";
    src: url("fonts/MyriadPro-Light.woff2") format("woff2"),
    url("fonts/MyriadPro-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@media (max-width: 700px) {
body {
    font-size:12px;
}
}

@media (max-width: 500px) {
body {
    font-size: 6px;
}
}

@media (max-width: 1920px) and (min-width: 1400px) {
body {
    font-size:20px;
}
}

html,
body {
    height: 100%;
    padding: 0;
    font-family: 'Lato', sans-serif;
    margin:0;

}

ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}
a {
    text-decoration: none;
}
/*header*/
header {
    height: 66.5rem;

    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.83)), to(rgba(0, 0, 0, 0.83))), url("image/background1.jpg");
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.83)), url("image/background1.jpg");
    background: -o-linear-gradient(rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.83)), url("image/background1.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.83)), url("image/background1.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
   -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}
header ul {
    width: 39.44rem; 
}

h2,h3 {
    margin: 0;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 75rem;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.15);

}

.navigation {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navigation_link {
    display: block;
    height: 5.625rem;

    line-height:  5.625rem;

    color: white;
}

.navigation_link:hover {
    border-bottom: 0.0625rem solid #ffffff;
}

.text {
    height: 32.75rem;
    margin-top: 20.5rem;
    overflow: hidden;

    color: white;
    text-align: center;
}

.texthead {
    margin: 0 auto;

    font-size: 4.125em;
    font-family: "Myriad Pro", "Lato", sans-serif;
    text-transform: uppercase;
}

.textbody {
    font-size: 1.75em;
    font-family: Georgia, 'Times New Roman', serif;
    font-style: italic;
}

.logo {
    padding: 0.6rem 0.375rem 0rem;
    width: 8.3125rem; 
    height: 1.8125rem;
}

.sign {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 51% 49%;
    grid-template-columns: 51% 49%;
    -ms-grid-rows: 7.5625rem;
    grid-template-rows: 7.5625rem;

    background-color: #2fac6c;
}

.login,
.register {
    -webkit-clip-path: polygon(100% 0, 96% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 96% 100%, 0 100%, 0 0);

    line-height: 7.5625rem;
    text-transform: uppercase;
    color: white;
    font-size: 1.375em;
    font-weight: 700;
}

.login {
    padding-right: 40%;

    text-align: end;

    background-color: #203747;
}

.register {
    padding-left: 37%;
}

.login:hover,
.register:hover {
    color: #bdb6ff;
}
/*header*/
/*domain*/
.domain {
    height: 36.125rem;
    margin: 0 auto;
    max-width: 55.5em;
    padding: 5.375rem 0;

    color: #a2a2a2;
    text-align: center;

    background-color: white;
}

.domain_head {
    color: #383737;
    font-size: 1.5em;
    font-weight: 800;
}

.domain_text {
    margin-top: 1.5625rem;

    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}

.domain_form {
    margin-top: 3rem;
    padding: 0.8165rem 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4.75rem 1fr 5.375rem;
    grid-template-columns: 4.75rem 1fr 5.375rem;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    border: 0.0625rem solid #d9d9d9;
}

.domain_label-text,
.domain_input,
.domain_select {
    padding: 0 0.75rem;
}

.domain_label-text {
    font-size: 0.93em;
    color: #cbcbcb;

    border-right: 0.0625rem solid #d9d9d9;
}

.domain_input {
    font-size: 0.93em;
    font-weight: 600;
    color: #868686;

    border: none;
}

.domain_select {
    font-size: 1em;
    color: #cbcbcb;

    border: none;
    border-left: 0.0625rem solid #d9d9d9;
}

.table {
    margin-top: 2.5625rem;
    width: 100%;

    border-spacing: 0;
    border-collapse: collapse;
}

.table_cell {
    height: 6.06rem;
    width: 25%;

    color: #d9d9d9;
    font-size: 0.875rem;

    border: 0.0625rem solid #d9d9d9;
}

.table,
.table_body,
.table_cell {
    position: relative;
}
/*space in gridtable*/
.table::before {
    position: absolute;
    top: 0.0625rem;
    right: 1%;

    display: block;
    width: 95%;
    height: 1rem;

    content: "";
    background-color: white;
}

.table::after {
    position: absolute;
    bottom: 0.0625rem;
    right: 1%;

    display: block;
    width: 95%;
    height: 1rem;

    content: "";
    background-color: white;
}
.table_body::before {
    position: absolute;
    top: 1%;
    left: 0.0625rem;

    display: block;
    width: 1.625rem;
    height: 95%;

    content: "";
    background-color: white;
}

.table_body::after {
    position: absolute;
    top: 1%;
    right: 0.0625rem;

    display: block;
    width: 1.625rem;
    height: 95%;

    content: "";
    background-color: white;
}

.space::after {
    content: "";
    position: absolute;
    bottom: -6.5px;
    right: -6.5px;

    display: block;
    width: 0.8125rem;
    height: 0.8125rem;

    content: "";
    background-color: white;
}
/* end space in gridtable*/
/*Package*/
.package {
    height: 47.81rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
     justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    background: url("image/background2.jpg") no-repeat top;
    background-size: 100% 50%;
    overflow: hidden;

}

.global
{   width: 75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
}

.box {
    width: 21%;
    height: 74.5%;

    background-color: white;
    -webkit-box-shadow: 3px 0 0.625rem rgba(0, 0, 0, 0.06);
    box-shadow: 3px 0 0.625rem rgba(0, 0, 0, 0.06);
}

.box:hover {
    box-shadow: 4px 0  0 0.625rem rgba(0, 0, 0, 0.3);
}

.basic {
    border-top: 0.31rem solid #f9d423;
}

.normal {
    border-top:  0.31rem solid #7f8c8d;
}

.big {
    border-top:  0.31rem solid #f85f40;
}

.biggest {
    border-top:  0.31rem solid #1abc9c;
}

.package-circle {
    margin: 2.5rem auto 1rem;
    width: 3.44rem;
    height: 3.44rem;
    padding: 0.80rem;

    color:black;

    border-radius: 100%;
}

.style-basic {
    color: #f9d423;

    border-radius: 50%;
    border: 0.31rem solid white;
    border-top: 0.31rem solid;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

}

.fa-anchor {
    font-size: 1.06rem;

    -webkit-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
    
}

.style-normal {
    color: #7f8c8d;

    border-radius: 50%;
    border: 0.31rem solid;
    border-top: 0.31rem solid white;
    border-left: 0.31rem solid white;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.fa-star-half-alt {
    font-size: 1.06rem;

    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.style-big {
    color: #f85f40;

    border-radius: 50%;
    border: 0.31rem solid;
    border-top: 0.31rem solid white;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.fa-star {
    font-size: 1.06rem;

    -webkit-transform: rotate(44deg);
    -ms-transform: rotate(44deg);
    transform: rotate(44deg);

}

.style-biggest {
    color: #1abc9c;

    border: 0.31rem solid #1abc9c;
}

.fa-gem {
    font-size: 1.06rem;
}

.package-title { 
    margin: 0;
    padding-bottom: 1rem; 

    text-align: center; 
    text-transform: uppercase;  
    color: rgb(40, 40, 40); 
}
.package-title p { 
    padding-bottom: 1rem;

    font-size: 2em;
    text-align: center; 
    text-transform: uppercase;  
    color: rgb(40, 40, 40); 
    font-weight: bold; 
} 

.package-info { 
    height: 50%;
    width: 80%; 
    margin: 0 auto; 
 
    line-height: 1.44rem; 
    padding-left: 0.31rem; 
    font-size: 0.94rem;
    font-family: "Lato-Medium", Arial, sans-serif; 

    border-top: 0.0625rem solid rgb(223, 223, 223); 
    border-bottom: 0.0625rem solid rgb(223, 223, 223);
} 

.package-info span { 
    float: right;

    font-weight: 700; 
} 

.basic .package-info span { 
    color: rgb(249, 212, 35); 
} 

.normal .package-info span { 
    color: rgb(127, 140, 141); 
} 

.big .package-info span { 
    color: rgb(248, 95, 64); 
} 

.biggest .package-info span { 
    color: rgb(26, 188, 156); 
} 

.package-info p{ 
    font-weight: 500; 
    color: #d9d9d9;
} 

.package-price { 
    padding-top: 2em; 
    margin: 0 auto; 
    width: 6.25rem; 

    text-align: center;
} 

.package-number { 
    font-size: 1.875rem; 
    font-weight: bold;

    opacity: 0.8; 
} 

.package-month { 
    font-size: 0.75rem; 

    opacity: 0.5; 
} 

.select-plan-1, 
.select-plan-2, 
.select-plan-3, 
.select-plan-4 { 
    width: 6.875rem; 
    margin: 0 auto;

    text-align: center; 
    font-size: 0.5em; 
} 

.select-plan-1 { 
    border-top: 0.1875rem solid rgb(249, 212, 35); 
} 

.select-plan-2 { 
    border-top: 0.1875rem solid rgb(127, 140, 141); 
} 

.select-plan-3 { 
    border-top: 0.1875rem solid rgb(248, 95, 64); 
} 

.select-plan-4 { 
    border-top: 0.1875rem solid rgb(26, 188, 156); 
}

/*About*/

.about {
    max-width: 75rem;
    height: 25rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    border-top: 0.25rem dotted rgb(229, 229, 229);

    overflow: hidden;
}

.about_text{
    width: 45%;
    height: 50%;
    padding-right: 10%;

    border-right: 0.125rem dotted rgb(229, 229, 229);
}

.team {
    width: 55%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 7%;

    text-align: center;
}

.team div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.about img {
    width: 100%;
    height: 100%;

    border-radius: 50%;
    border: 0.3125rem solid rgb(229, 229, 229);
}
.man3 img {
    width: 90%;
    height: 90%;
}

.about img:hover{
  opacity: 0.4;
}

.bold {
    font-family: 'Lato-Black', serif;
}

.team .social {
    width:90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.about i {
    color: rgb(191, 191, 191);
}

.about i:hover {
    color: rgb(31, 137, 186);
}

.about h3, .about h2 {
    color: rgb(48, 48, 48);
}

.team p, .about .about_text p {
    color: rgb(142, 142, 142);
    font-family: 'Myriad Pro', serif;
}

.about_text p {
    margin-top: 5%;

    font-size: 1.2em;
    color:red;
}
.about_text h2 {
   font-size: 2.2em;
}

/*Comments*/
.wrapper {
     position: relative;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 11.875rem;
    overflow: hidden;
}

.wrapper p {
    margin: 0 auto;
    margin-left: 20%;
    width: 62%;
    padding-top: 3%;

    text-align: center;
    font-size: 1.25em;
    color: white;
    line-height: 1.875rem;
}

.slider {
    position: relative;

    height: inherit;
    overflow: hidden;
    width: inherit;

    background: url(image/background3.jpg) no-repeat top;
    background-size: cover;
}

.slides {
    height: 1.875rem;
    position: absolute;
    z-index: 0;

    opacity: 0;

    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
    transition: opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
    -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    transition: transform ease-in-out .5s, opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
}



#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3 {
    z-index: 1;

    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.wrapper > input {
    display: none;
}

.controls {
    position: absolute;
    top: 8.125rem;
    left: 50%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -6.125rem;
}

.controls h3 {
    padding-right: 0.625rem;

    color:white;

    border-right: 0.0625rem solid white;
}

.wrapper label {
    position: relative;
    display: inline-block;
    height: 0.375rem;
    margin: 0 0.5rem 0 0.5rem;

    width: 0.375rem;

    cursor: pointer;
    border-radius: 50%;
    -webkit-transition: background ease-in-out .5s;
    -o-transition: background ease-in-out .5s;
    transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3) {
    background: #ddd;
}

.wrapper label:after { 
position: absolute; 
left: -0.0625rem; 
top: -0.0625rem; 

display: block; 
height: 0.375rem; 
width: 0.375rem; 

border: 1px solid white; 
content: " "; 
border-radius: 50%; 
}

/* Function*/
.functions {
    height: 21.5rem;
    overflow: hidden;
}

.functions_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
     justify-content: space-between;
    max-width: 75rem;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.functions_item{
    display: block;
    height: 5.625rem;
    padding-top: 6.25rem;

    text-align: center;
}

.functions_item h3 {
    margin: 1.25rem 0 0/375rem;

    font-size: 1.125em;
    font-weight: 800;
    color: #303030;
}

.functions_item p {
    font-size: 0.9375em;
    color:rgb(135,135,135);
    line-height: 1.375;
}
.back-circle {
    margin: 0 auto;
    width: 3.75rem;
    height: 3.75rem;

    color: white;
    font-size: 1.75em;
    line-height: 3.75rem;

    border-radius: 50%;
}

.orange {
    background-color: #f1c40f;
}

.blue {
    background-color: #0faff1;
}

.gray {
    background-color: #95a5a6;
}

.red {
    background-color: #f1540f;
}
/* Function*/
/*footer*/
footer {
    height: 18.125rem;

    background-color: rgb(42,42,42);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.logo_footer {
    padding: 0.625rem 0.375rem 0px;
    display: block;

    opacity: 0.50;
}

.menu_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 75rem;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.15);
}

.navigation_footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer_link {
    display: block;
    height: 4.69rem;

    font-size: 0.8125em;
    line-height: 4.69rem;
    color: rgb(104,104,104);
}

.footer_link:hover {
    color: white;
}

footer ul {
    width: 26.875rem; 
}

.bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 75rem;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 9.375rem;
    padding-top: 5rem;
    
}

.area1 {
    color: rgb(100,100,100);
    font-size: 0.9375em;
    line-height: 0.94rem;
    font-weight: 100;
}
.area1 span {
    font-weight: 900;
}

.area2 {
    margin: 0;
    padding: 0 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
     justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    font-size: 0.9375em;
    line-height: 1em;

    border-left: 0.0625rem solid rgba(255, 255, 255, 0.15);
    border-right: 0.0625rem solid rgba(255, 255, 255, 0.15);
}

.nav_link{
    padding: 0 2rem;

    color: rgb(100,100,100);
}

.nav_link:hover {
    color: rgb(255,255,255);
      
}

.area3 {
    color: rgb(100,100,100);
    font-size:  0.9375em;
}

.area3 a{
    color: rgb(100,100,100);
}

.fa-phone { 
    font-size: 0.8em; 

    -webkit-transform: rotate(90deg); 
    -ms-transform: rotate(90deg); 
    transform: rotate(90deg); 
}
/*footer*/