* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
}
a {
    text-decoration: none;
}
/*header*/
header {
    height: 1064px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.83)), to(rgba(0, 0, 0, 0.83))), url("image/background1.jpg");
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.83)), url("image/background1.jpg");
    background: -o-linear-gradient(rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.83)), url("image/background1.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.83)), url("image/background1.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
   -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}
header ul {
    width: 631px; 
}

h2,h3 {
    margin: 0;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

}

.navigation {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navigation_link {
    display: block;
    height: 90px;
    line-height: 90px;
    color: white;
}

.navigation_link:hover {
    border-bottom: 1px solid #ffffff;
}

.text {
    height: 524px;
    margin-top: 328px;
    color: white;
    text-align: center;
    overflow: hidden;
}

.texthead {
    margin: 0 auto;
    font-size: 4.125em;
    font-family: "Myriad Pro", "Lato", sans-serif;
    text-transform: uppercase;
}

.textbody {
    font-size: 1.75em;
    font-family: Georgia, 'Times New Roman', serif;
    font-style: italic;
}

.logo {
    padding: 10px 6px 0px;
    display: block;
}

.sign {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 51% 49%;
    grid-template-columns: 51% 49%;
    -ms-grid-rows: 121px;
    grid-template-rows: 121px;
    background-color: #2fac6c;
}

.login,
.register {
    line-height: 121px;
    text-transform: uppercase;
    color: white;
    font-size: 1.375em;
    font-weight: 700;
    -webkit-clip-path: polygon(100% 0, 96% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 96% 100%, 0 100%, 0 0);
}

.login {
    text-align: end;
    padding-right: 40%;
    background-color: #203747;
}

.register {
    padding-left: 37%;
}

.login:hover,
.register:hover {
    color: #bdb6ff;
}
/*header*/
/*domain*/
.domain {
    margin: 0 auto;
    max-width: 888px;
    height: 578px;
    background-color: white;
    color: #a2a2a2;
    text-align: center;
    padding: 86px 0;
}

.domain_head {
    color: #383737;
    font-size: 1.5em;
    font-weight: 800;
}

.domain_text {
    margin-top: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}

.domain_form {
    margin-top: 48px;
    padding: 13px 0;
    border: 1px solid #d9d9d9;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 76px 1fr 86px;
    grid-template-columns: 76px 1fr 86px;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.domain_label-text,
.domain_input,
.domain_select {
    padding: 0 12px;
}

.domain_label-text {
    border-right: 1px solid #d9d9d9;
    font-size: 0.93em;
    color: #cbcbcb;
}

.domain_input {
    border: none;
    font-size: 0.93em;
    font-weight: 600;
    color: #868686;
}

.domain_select {
    border: none;
    border-left: 1px solid #d9d9d9;
    font-size: 1em;
    color: #cbcbcb;
}

.table {
    margin-top: 41px;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.table_cell {
    border: 1px solid #d9d9d9;
    height: 97px;
    width: 25%;
    color: #d9d9d9;
    font-size: 0.875em;
}

.table,
.table_body,
.table_cell {
    position: relative;
}
/*space in gridtable*/
.table::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1%;
    display: block;
    width: 95%;
    height: 16px;
    background-color: white;
}

.table::after {
    content: "";
    position: absolute;
    bottom: 1px;
    right: 1%;
    display: block;
    width: 95%;
    height: 16px;
    background-color: white;
}
.table_body::before {
    content: "";
    position: absolute;
    top: 1%;
    left: 1px;
    display: block;
    width: 26px;
    height: 95%;
    background-color: white;
}

.table_body::after {
    content: "";
    position: absolute;
    top: 1%;
    right: 1px;
    display: block;
    width: 26px;
    height: 95%;
    background-color: white;
}

.space::after {
    content: "";
    position: absolute;
    bottom: -6.5px;
    right: -6.5px;
    display: block;
    width: 13px;
    height: 13px;
    background-color: white;
}

/* end space in gridtable*/
/*Package*/
.package {
    height: 765px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
     justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: url("image/background2.jpg") no-repeat top;
    overflow: hidden;

}

.global
{   width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
}

.box {
    width: 254px;
    height: 570px;
    background-color: white;
    -webkit-box-shadow: 3px 0 10px rgba(0, 0, 0, 0.06);
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.06);
}

.basic {
    border-top: 5px solid #f9d423;
}

.normal {
    border-top: 5px solid #7f8c8d;
}

.big {
    border-top: 5px solid #f85f40;
}

.biggest {
    border-top: 5px solid #1abc9c;
}

.package-circle {
    margin: 40px auto 15px;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    color:black;
    padding:13px;
}

.style-basic {
    border-radius: 50%;
    border: 5px solid white;
    color: #f9d423;
    border-top: 5px solid;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fa-anchor {
    -webkit-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
    
}

.style-normal {
    color: #7f8c8d;
    border-radius: 50%;
    border: 5px solid;
    border-top: 5px solid white;
    border-left: 5px solid white;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.fa-star-half-alt {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.style-big {
    color: #f85f40;
    border-radius: 50%;
    border: 5px solid;
    border-top: 5px solid white;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.fa-star {
    -webkit-transform: rotate(44deg);
    -ms-transform: rotate(44deg);
    transform: rotate(44deg);

}

.style-biggest {
    border: 5px solid #1abc9c;
    color: #1abc9c;
}

.package_title { 
    margin: 0;
    text-align: center; 
    text-transform: uppercase;  
    color: rgb(40, 40, 40); 
    padding-bottom: 15px; 
}
.package_title p { 
    font-size: 2em;
    text-align: center; 
    text-transform: uppercase;  
    color: rgb(40, 40, 40); 
    font-weight: bold;
    padding-bottom: 15px; 
} 

.package_info { 
    height: 282px; 
    border-top: 1px solid rgb(223, 223, 223); 
    border-bottom: 1px solid rgb(223, 223, 223); 
    width: 200px; 
    margin: 0 auto; 
    line-height: 23px; 
    padding-left: 5px; 
    font-size: 15px;
    font-family: "Lato-Medium", Arial, sans-serif; 
} 

.package_info span { 
    float: right; 
    font-weight: 700; 
} 

.basic .package_info span { 
    color: rgb(249, 212, 35); 
} 

.normal .package_info span { 
    color: rgb(127, 140, 141); 
} 

.big .package_info span { 
    color: rgb(248, 95, 64); 
} 

.biggest .package_info span { 
    color: rgb(26, 188, 156); 
} 

.package_info p{ 
    font-weight: 500; 
    color: #d9d9d9;
} 

.package_price { 
    padding-top: 2em; 
    margin: 0 auto; 
    width: 100px; 
    text-align: center;
} 

.package_number { 
    font-size: 30px; 
    font-weight: bold; 
    opacity: 0.8; 
} 

.package_month { 
    opacity: 0.5; 
    font-size: 12px; 
} 

.select_plan_1, 
.select_plan_2, 
.select_plan_3, 
.select_plan_4 { 
    width: 110px; 
    margin: 0 auto; 
    text-align: center; 
    font-size: 0.5em; 
} 

.select_plan_1 { 
    border-top: 3px solid rgb(249, 212, 35); 
} 

.select_plan_2 { 
    border-top: 3px solid rgb(127, 140, 141); 
} 

.select_plan_3 { 
    border-top: 3px solid rgb(248, 95, 64); 
} 

.select_plan_4 { 
    border-top: 3px solid rgb(26, 188, 156); 
}

/*About*/

.about {
    max-width: 1200px;
    height: 400px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 4px dotted rgb(229, 229, 229);
}

.about_text{
    width: 45%;
    height: 50%;
    border-right: 2px dotted rgb(229, 229, 229);
    padding-right: 10%;
}

.team {
    width: 55%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    padding-left: 7%;
}

.team div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
     align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.about img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid rgb(229, 229, 229);
}
.man3 img {
    width: 90%;
    height: 90%;
}

.about img:hover{
  opacity: 0.4;
}

.bold {
    font-family: 'Lato-Black', serif;
}

.team .social {
    width:90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.about i {
    color: rgb(191, 191, 191);
}

.about i:hover {
    color: rgb(31, 137, 186);
}

.about h3, .about h2 {
    color: rgb(48, 48, 48);
}

.team p, .about .about_text p {
    color: rgb(142, 142, 142);
    font-family: 'Myriad Pro', serif;
}

.about_text p {
    font-size: 1.2em;
    margin-top: 5%;
    color:red;
}
.about_text h2 {
   font-size: 2.2em;
}

/*Comments*/
.wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 190px;
    position: relative;
    overflow: hidden;
}

.wrapper p {
    margin: 0 auto;
    margin-left: 200px;
    width: 890px;
    padding-top: 56px;
    text-align: center;
    font-size: 1.25em;
    color: white;
    line-height: 30px;
}

.slider {
    background: url(image/background3.jpg) no-repeat top;
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
}

.slides {
    height: 30px;
    opacity: 0;
    position: absolute;
    z-index: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
    transition: opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
    -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    transition: transform ease-in-out .5s, opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
}



#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3 {
    opacity: 1;
    z-index: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.wrapper > input {
    display: none;
}

.controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    left: 50%;
    margin-left: -98px;
    position: absolute;
    top:130px;
}

.controls h3 {
    color:white;
    padding-right: 10px;
    font-weight: 0;

    border-right: 1px solid white;
}

.wrapper label {
    cursor: pointer;
    display: inline-block;
    height: 6px;
    margin: 0 8px 0 8px;
    position: relative;
    width: 6px;
    border-radius: 50%;
    -webkit-transition: background ease-in-out .5s;
    -o-transition: background ease-in-out .5s;
    transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3) {
    background: #ddd;
}

.wrapper label:after {
    border: 2px solid #ddd;
    content: " ";
    display: block;
    height: 5px;
    left: -2px;
    position: absolute;
    top: -2px;
    width: 5px;
    border-radius: 50%;
}


/* Function*/
.functions {
    height: 344px;
    overflow: hidden;
}

.functions_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
     justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.functions_item{
    display: block;
    text-align: center;
    height: 90px;
    padding-top: 100px;
}

.functions_item h3 {
    margin: 20px 0 6px;
    font-size: 1.125em;
    font-weight: 800;
    color: #303030;
}

.functions_item p {
    font-size: 0.9375em;
    color:rgb(135,135,135);
    line-height: 1.375;
}
.back-circle {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    font-size: 1.75em;
    line-height: 60px;
}

.orange {
    background-color: #f1c40f;
}

.blue {
    background-color: #0faff1;
}

.gray {
    background-color: #95a5a6;
}

.red {
    background-color: #f1540f;
}
/* Function*/
/*footer*/
footer {
    height: 290px;
    background-color: rgb(42,42,42);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.logo_footer {
    padding: 10px 6px 0px;
    display: block;
    opacity: 0.50;
}

.menu_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.navigation_footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer_link {
    font-size: 0.8125em;
    display: block;
    height: 75px;
    line-height: 75px;
    color: rgb(104,104,104);
}

.footer_link:hover {
    color: white;
}

footer ul {
    width: 430px; 
}

.bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 150px;
    padding-top: 80px;
    
}

.area1 {
    color: rgb(100,100,100);
    font-size: 0.9375em;
    line-height: 15px;
    font-weight: 100;
}

.area2 {
    margin: 0;
    padding: 0 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
     justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.9375em;
    line-height: 1em;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.nav_link{
    color: rgb(100,100,100);
    padding: 0 32px;
}

.nav_link:hover {
    color: rgb(255,255,255);
      
}

.area3 {
    color: rgb(100,100,100);
    font-size:  0.9375em;
}

.area3 a{
    color: rgb(100,100,100);
}

.fa-phone { 
    -webkit-transform: rotate(90deg); 
    -ms-transform: rotate(90deg); 
    transform: rotate(90deg); 
    font-size: 0.8em; 
}
/*footer*/