@font-face {
font-family: "LatoMedium";
src: url("/fonts/Lato-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
/*header*/
header {
    height: 1064px;
    background: linear-gradient(rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.83)), url("image/background1.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1600px 961px;
    user-select: none;
    overflow: hidden;
}

a {
    text-decoration: none;
}

header ul {
    width: 631px; 
}

h2,h3 {
    margin: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

}

.navigation {
    align-items: center;
}

.navigation_link {
    display: block;
    height: 90px;
    line-height: 90px;
    color: white;
}

.navigation_link:hover {
    border-bottom: 1px solid #ffffff;
}

.text {
    height: 524px;
    margin-top: 328px;
    color: white;
    text-align: center;
    overflow: hidden;
}

.texthead {
    font-size: 4.125;
    font-family: "Myriad Pro", "Lato", sans-serif;
    text-transform: uppercase;
}

.textbody {
    margin: 10px;
    font-size: 1.75rem;
    line-height: 47px;
    font-family: Georgia, 'Times New Roman', serif;
    font-style: italic;
}

.logo {
    padding: 10px 6px 0px;
    display: block;
}

.sign {
    display: grid;
    grid-template-columns: 51% 49%;
    grid-template-rows: 121px;
    background-color: #2fac6c;
}

.login,
.register {
    line-height: 121px;
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    font-weight: 700;
    clip-path: polygon(100% 0, 96% 100%, 0 100%, 0 0);
}

.login {
    text-align: end;
    padding-right: 30%;
    background-color: #203747;
}

.register {
    padding-left: 30%;
}

.login:hover,
.register:hover {
    color: #bdb6ff;
}
/*header*/
/*domain*/
.domain {
    margin: 0 auto;
    max-width: 888px;
    height: 578px;
    background-color: white;
    color: #a2a2a2;
    text-align: center;
    padding: 86px 0;
}

.domain_head {
    color: #383737;
    font-size: 24px;
    font-weight: 800;
}

.domain_text {
    margin-top: 25px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.domain_form {
    margin-top: 48px;
    padding: 13px 0;
    border: 1px solid #d9d9d9;
    display: grid;
    grid-template-columns: 76px 1fr 86px;
    grid-template-rows: 1fr;
    align-items: center;
}

.domain_label-text,
.domain_input,
.domain_select {
    padding: 0 12px;
}

.domain_label-text {
    border-right: 1px solid #d9d9d9;
    font-size: 15px;
    color: #cbcbcb;
}

.domain_input {
    border: none;
    font-size: 15px;
    font-weight: 600;
    color: #868686;
}

.domain_select {
    border: none;
    border-left: 1px solid #d9d9d9;
    font-size: 16px;
    color: #cbcbcb;
}

.table {
    margin-top: 41px;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.table_cell {
    border: 1px solid #d9d9d9;
    height: 97px;
    width: 25%;
    color: #d9d9d9;
    font-size: 14px;
}

.table,
.table_body,
.table_cell {
    position: relative;
}
/*space in gridtable*/
.table::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1%;
    display: block;
    width: 95%;
    height: 16px;
    background-color: white;
}

.table::after {
    content: "";
    position: absolute;
    bottom: 1px;
    right: 1%;
    display: block;
    width: 95%;
    height: 16px;
    background-color: white;
}
.table_body::before {
    content: "";
    position: absolute;
    top: 1%;
    left: 1px;
    display: block;
    width: 26px;
    height: 95%;
    background-color: white;
}

.table_body::after {
    content: "";
    position: absolute;
    top: 1%;
    right: 1px;
    display: block;
    width: 26px;
    height: 95%;
    background-color: white;
}

.space::after {
    content: "";
    position: absolute;
    bottom: -6.5px;
    right: -6.5px;
    display: block;
    width: 13px;
    height: 13px;
    background-color: white;
}

/* end space in gridtable*/
/*Package*/
.package {
    height: 765px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url("image/background2.jpg") no-repeat top;
    overflow: hidden;

}

.global
{   width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.box {
    width: 254px;
    height: 570px;
    background-color: white;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.06);
}

.basic {
    border-top: 5px solid #f9d423;
}

.normal {
    border-top: 5px solid #7f8c8d;
}

.big {
    border-top: 5px solid #f85f40;
}

.biggest {
    border-top: 5px solid #1abc9c;
}

.package-circle {
    margin: 40px auto 15px;
    border-radius: 50%;
    border: 5px solid #e5e5e5;
    width: 55px;
    height: 55px;
    color:black;
    padding:13px;
}

.style-basic {
    border-radius: 50%;
    border: 5px solid white;
    color: #f9d423;
    border-top: 5px solid;
    transform: rotate(45deg);
}

.fa-anchor {
    transform: rotate(-44deg);
    
}

.style-normal {
    color: #7f8c8d;
    border-radius: 50%;
    border: 5px solid;
    border-top: 5px solid white;
    border-left: 5px solid white;
    transform: rotate(-45deg);
}

.fa-star-half-alt {
    transform: rotate(45deg);
}

.style-big {
    color: #f85f40;
    border-radius: 50%;
    border: 5px solid;
    border-top: 5px solid white;
    transform: rotate(-45deg);
}

.fa-star {
    transform: rotate(44deg);

}

.style-biggest {
    border: 5px solid #1abc9c;
    color: #1abc9c;
}

.package_title { 
text-align: center; 
text-transform: uppercase; 
font-weight: bold; 
color: rgb(40, 40, 40); 
padding-bottom: 15px; 
} 

.package_info { 
height: 282px; 
border-top: 1px solid rgb(223, 223, 223); 
border-bottom: 1px solid rgb(223, 223, 223); 
width: 200px; 
margin: 0 auto; 
line-height: 23px; 
padding-left: 5px; 
font-size: 15px;
font-family: "Lato-Medium", Arial, sans-serif; 
} 

.package_info span { 
float: right; 
font-weight: 700; 
} 

.basic .package_info span { 
color: rgb(249, 212, 35); 
} 

.normal .package_info span { 
color: rgb(127, 140, 141); 
} 

.big .package_info span { 
color: rgb(248, 95, 64); 
} 

.biggest .package_info span { 
color: rgb(26, 188, 156); 
} 

.package_info p{ 
font-weight: 500; 
color: #d9d9d9;
} 

.package_price { 
padding-top: 32px; 
margin: 0 auto; 
width: 100px; 
text-align: center;
} 

.package_number { 
font-size: 30px; 
font-weight: bold; 
opacity: 0.8; 
} 

.package_month { 
opacity: 0.5; 
font-size: 12px; 
} 

.select_plan_1, 
.select_plan_2, 
.select_plan_3, 
.select_plan_4 { 
width: 110px; 
margin: 0 auto; 
text-align: center; 
font-size: 15px; 
} 

.select_plan_1 { 
border-top: 3px solid rgb(249, 212, 35); 
} 

.select_plan_2 { 
border-top: 3px solid rgb(127, 140, 141); 
} 

.select_plan_3 { 
border-top: 3px solid rgb(248, 95, 64); 
} 

.select_plan_4 { 
border-top: 3px solid rgb(26, 188, 156); 
}

/*About*/
.about {
    height: 395px;
    overflow: hidden;
}

.area_about {
    max-width: 1200px;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    border-top: 2px dotted rgba(216, 216, 216);
    padding-top: 80px;

}

.about_text {
    max-width: 43%;
    padding-right: 60px;
    border-right: 2px dotted #bfbfbf;
}

.about_head {
     font-size: 35px;
}
.about_information {
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
    color:#999999;
}

.about_team {
    max-width: 57%;
    padding-left: 66px;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-mate_information {
    text-align: center;
}

.photo {
    margin: 0 auto 12px;
    border-radius: 50%;
    border: 5px solid #e5e5e5;
    width: 100px;
    height: 100px;
}

.man_name {
    margin-bottom: 7px;
    color: #303030;
    font-size: 17px;
}

.man_profession {
    margin-bottom: 10px;
    font-size: 15px;
    color: #8e8e8e;
    font-weight: 400;

}

.network {
    color: #bfbfbf;
    padding-right: 15px;
}

.network:hover {
    color: #1f89ba;
}


/*Comments*/
.wrapper {
    align-items: center;
    height: 190px;
    position: relative;
    overflow: hidden;
}

.wrapper p {
    margin: 0 auto;
    margin-left: 200px;
    width: 890px;
    padding-top: 56px;
    text-align: center;
    font-style: 
    font-weight: lighter;
    font-size: 20px;
    color: white;
    line-height: 30px;
}

.slider {
    background: url(image/background3.jpg) no-repeat top;
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
}

.slides {
    height: 30px;
    opacity: 0;
    position: absolute;
    z-index: 0;
    transform: scale(0.5);
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}



#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3 {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

.wrapper > input {
    display: none;
}

.controls {
    display: flex;
    align-items: center;
    left: 50%;
    margin-left: -98px;
    position: absolute;
    top:130px;
}

.controls h3 {
    color:white;
    padding-right: 10px;
    font-weight: 0;

    border-right: 1px solid white;
}

.wrapper label {
    cursor: pointer;
    display: inline-block;
    height: 6px;
    margin: 0 8px 0 8px;
    position: relative;
    width: 6px;
    border-radius: 50%;
    transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3) {
    background: #ddd;
}

.wrapper label:after {
    border: 2px solid #ddd;
    content: " ";
    display: block;
    height: 5px;
    left: -2px;
    position: absolute;
    top: -2px;
    width: 5px;
    border-radius: 50%;
}


/* Function*/
.functions {
    height: 344px;
    overflow: hidden;
}

.functions_container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.functions_item{
    display: block;
    text-align: center;
    height: 90px;
    padding-top: 100px;
}

.functions_item h3 {
    margin: 20px 0 6px;
    font-size: 18px;
    font-weight: 800;
    color: #303030;
}

.functions_item p {
    font-size: 15px;
    color:rgb(135,135,135);
    line-height: 1.375;
}
.back-circle {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    font-size: 28px;
    line-height: 60px;
}

.orange {
    background-color: #f1c40f;
}

.blue {
    background-color: #0faff1;
}

.gray {
    background-color: #95a5a6;
}

.red {
    background-color: #f1540f;
}
/* Function*/
/*footer*/
footer {
    height: 290px;
    background-color: rgb(42,42,42);
    user-select: none;
    overflow: hidden;
}

.logo_footer {
    padding: 10px 6px 0px;
    display: block;
    opacity: 0.50;
}

.menu_footer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.navigation_footer {
    align-items: center;
}

.footer_link {
    font-size: 13px;
    display: block;
    height: 75px;
    line-height: 75px;
    color: rgb(104,104,104);
}

.footer_link:hover {
    color: white;
}

footer ul {
    width: 430px; 
}

.bottom {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    height: 150px;
    padding-top: 80px;
    
}

.area1 {
    color: rgb(100,100,100);
    font-size: 15px;
    line-height: 15px;
    padding: 0px 80px 10px 0;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    font-weight: 100;
}

.area2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    line-height: 15px;
}

.nav_link{
    color: rgb(100,100,100);
    font-size: 15px;
    line-height: 15px;
    padding: 0 32px;
}

.nav_link:hover {
    color: rgb(255,255,255);
    left:10px;
      
}

.area3 {
    padding-top: 100px;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0px 0 10px 80px;
    color: rgb(100,100,100);
    font-size: 15px;
}

.area3 a{
    color: rgb(100,100,100);
}

.fa-phone { 
transform: rotate(90deg); 
font-size: 13px; 
}
/*footer*/